<% content_for :title, "Editar configuración - Operadores" %>
<div class="page-container">
  <h1 class="page-title">Editar año <%= @config.year %></h1>
  <div class="card">
    <%= form_with model: @config, url: operadores_inmobiliario_config_path(@config.id), method: :patch do |f| %>
      <div class="form-field">
        <%= f.label :formula_base_expression, "Expresión fórmula base" %>
        <%= f.text_field :formula_base_expression, class: "form-input" %>
      </div>
      <div class="form-field">
        <%= f.label :installments_per_year, "Cuotas por año" %>
        <%= f.number_field :installments_per_year, min: 1, max: 12, class: "form-input form-input--number" %>
      <%= f.submit "Actualizar" %>
    <% end %>
  </div>
</div>
