<% content_for :title, "Nueva config - Operadores" %>
<div class="page-container">
  <h1 class="page-title">Nueva configuracion (ano)</h1>
  <div class="card">
    <%= form_with model: @config, url: operadores_configuracion_inmobiliario_path, method: :post do |f| %>
      <%= f.label :year %> <%= f.number_field :year, min: 2000 %>
      <%= f.label :formula_base_expression %> <%= f.text_field :formula_base_expression %>
      <%= f.label :installments_per_year %> <%= f.number_field :installments_per_year, min: 1, max: 12 %>
      <%= f.submit "Crear" %>
    <% end %>
  </div>
</div>
